.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.columnTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
}

.listItem {
  padding: 7px 0;
}

.listItem a {
  color: var(--color-text-grey);
  font-size: 1.4rem;
  font-weight: 400;
}
