.container {
  flex-grow: 1;
  flex-basis: 0;
}

.productsWrapper {
  margin-top: 3.5rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3.4rem;
}

.title {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 500;
}
